<form method="post" action="{{ path('app_produits_delete_back', {'idproduit': produit.idproduit}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('deleteBack' ~ produit.idproduit) }}">
    <button class="btn" class="main-button" >Supprimer</button>
</form>
