<form method="post" action="{{ path('app_offretravailarchive_delete', {'idoffre': offretravail.idoffre}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_tokendelete" value="{{ csrf_token('deleteoffre' ~ offretravail.idoffre) }}">
  
     <button class="text-danger"><i class="bi bi-trash"></i> Supprimer</button>
</form>
