{% extends 'base.html.twig' %}

{% block title %}Edit Offretravailarchive{% endblock %}

{% block body %}
    <h1>Edit Offretravailarchive</h1>

    {{ include('offretravailarchive/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_offretravailarchive_index') }}">back to list</a>

    {{ include('offretravailarchive/_delete_form.html.twig') }}
{% endblock %}
