<form method="post" action="{{ path('app_produits_delete', {'idproduit': produit.idproduit}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('deleteproduitFront' ~ produit.idproduit) }}">
    <button class="btn" class="main-button" ><i class="fas fa-trash-alt"></i></button>
</form>
