{% extends 'base.html.twig' %}

{% block title %}Edit Lignepanier{% endblock %}

{% block body %}
    <h1>Edit Lignepanier</h1>

    {{ include('lignepanier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_lignepanier_index') }}">back to list</a>

    {{ include('lignepanier/_delete_form.html.twig') }}
{% endblock %}
