{% extends 'baseback.html.twig' %}

{% block title %}New Video{% endblock %}

{% block body %}
    <h1>Ajouter Video</h1>
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Ajouter un video</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Tutoriels</a></li>
                <li class="breadcrumb-item"><a href="index.html">Videos</a></li>
                <li class="breadcrumb-item active">Ajouter Video</li>
              </ol>
            </nav>
        </div>
        <!-- End Page Title -->

    {{ include('video/_form.html.twig') }}

    <a href="{{ path('app_video_index') }}">back to list</a>
{% endblock %}
