{% extends 'baseback.html.twig' %}

{% block title %}New Challenge{% endblock %}

{% block body %}
    <h1>Create new Challenge</h1>

    {{ include('challenge/_form.html.twig') }}
    
<script src="sweetalert2.min.js">
 function alertt(){
    Swal.alret(
            'The Internet?',
            'That thing is still around?',
            'question'
        )
 }
</script>
{% endblock %}
