<form method="POST" action="{{ path('app_post_like_delete', {'id_like': postLike.id}) }}" onsubmit="return confirm('Are you sure you want to unlike this post?');">
    <input type="hidden" name="_method" value="DELETE">
    {{ form_widget(delete_form._token) }}
    <button type="submit" class="btn btn-danger">Confirm Unlike</button>
</form>